<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ./partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ./partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <section class="ts-schedule">
        <div class="container" style="padding-bottom: 30px">
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->

<!--                    <h2 class="section-title">-->
<!--                       08/08/2019-->

<!--                    </h2>-->

<!--                </div>-->
<!--                &lt;!&ndash; col end&ndash;&gt;-->



<!--            </div>-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-content schedule-tabs">
                        <div role="tabpanel" class="tab-pane active">
                            <% scheduleList.forEach(function(schedule) { %>
                                <div class="schedule-listing">
                                    <div class="schedule-slot-time">
                                        <span>
                                            <%= schedule.startTime + ' - ' + schedule.endTime %>
                                            <br>
                                            <%= schedule.scheduleDate[0] + '/' + schedule.scheduleDate[1] + '/' + schedule.scheduleDate[2] %>
                                        </span> <%= schedule.sportName %>
                                    </div>
                                    <div class="schedule-slot-info">
                                        <a href="#">
                                            <img class="schedule-slot-speakers" src="images/speakers/speaker3.jpg" alt="">
                                        </a>
                                        <div class="schedule-slot-info-content card-body">
                                            <h3 class="schedule-slot-title">
                                                <a href="#">
                                                    <%= schedule.centerName %>
                                                </a>
                                                <strong>@ <%= schedule.address + ' | ' + schedule.city + ' | ' + schedule.country  %></strong>
                                            </h3>

                                            <p>
                                                <%= schedule.yardName %>
                                            </p>
                                            <div style="padding-top: 20px;" class="text-right">
                                                <a href="/owner/owner-booking-form" class="btn text-right" > Book this class </a>
                                            </div>

                                        </div>
                                        <!--Info content end -->
                                    </div>
                                    <!-- Slot info end -->
                                </div>
                            <% }); %>
                            <!--schedule-listing end -->
                            <div class="schedule-listing-btn">
                                <a href="#" class="btn">More Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer start-->
    <% include ./partials/footer %>
    <!-- Body inner end -->
</div>
<% include ./partials/footer-script %>
</body>

</html>