<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ../partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ../partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <!Contract form !>
    <section class="ts-contact-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="section-title text-center">
                        <span> Contract detail  <%= data.contractId %>  </span>
                        <%= data.firstName %> <%= data.lastName %>
                    </h2>
                </div><!-- col end-->
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contact-form" class="contact-form" action="contact-form.php" method="post">
                        <div class="error-container"></div>

                        <div class="row">
                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">First Name</label>
                                        <input class="form-control form-control-name" placeholder="First Name"
                                               name="firstname" id="f-name"
                                               type="text" readonly
                                               value="<%= data.firstName ? data.firstName : '' %>"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Last Name</label>
                                        <input class="form-control form-control-name" placeholder="Last Name"
                                               name="lastname" id="l-name"
                                               type="text" readonly
                                               value="<%= data.lastName ? data.lastName : '' %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Email</label>
                                        <input class="form-control form-control-subject" placeholder="Email"
                                               type="email"
                                               readonly
                                               value="<%= data.email ? data.email : '' %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">DOB</label>
                                        <input class="form-control form-control-email" placeholder="DOB"
                                               id="#"
                                               type="number" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Phone</label>
                                        <input class="form-control form-control-subject" placeholder="Phone"
                                               name="phone"
                                               id="#"
                                               readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Address</label>
                                        <input class="form-control form-control-subject" placeholder="Address"
                                               name="address" id="#"
                                               readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">City</label>
                                        <input class="form-control form-control-subject" placeholder="City" name="City"
                                               id="#"
                                               readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Country</label>
                                        <input class="form-control form-control-subject" placeholder="Country"
                                               name="country" id="#"
                                               readonly>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Category</label>
                                        <input class="form-control form-control-subject" placeholder="Price"
                                               name="price" id="#"
                                               readonly
                                               value="<%= data.membershipType ? data.membershipType : '' %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Type of membership</label>
                                        <input class="form-control form-control-subject" placeholder="Price"
                                               name="price" id="#"
                                               readonly
                                               value="<%= data.cardLevel ? data.cardLevel : '' %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Session</label>
                                        <input class="form-control form-control-subject" placeholder="Price"
                                               name="price" id="#"
                                               readonly
                                               value="<%= data.session ? data.session : '' %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Pricing</label>
                                        <input class="form-control form-control-subject" placeholder="Price"
                                               name="price" id="#"
                                               readonly
                                               value="<%= data.price ? data.price : '' %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Start Date</label>
                                        <input class="form-control form-control-subject" placeholder="Start Date"
                                               readonly
                                               value="<%= data.startDate ? data.startDate : '' %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">End Date</label>
                                        <input class="form-control form-control-subject" placeholder="End Date"
                                               readonly
                                               value="<%= data.endDate ? data.endDate : '' %>"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                </div>

                </form><!-- Contract form end -->
            </div>
        </div>
</div>
<div class="speaker-shap">
    <img class="shap1" src="images/shap/home_schedule_memphis2.png" alt="">
</div>
</section>
<!-- footer start-->
<% include ../partials/footer %>
<!-- Body inner end -->
</div>
<% include ../partials/footer-script %>
</body>

</html>