<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ../partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ../partials/banner %>
    <!-- Banner end -->
    <!-- Yard list -->

    <section class="ts-contact-form">

        <!-- Yard management -->
     <!--/    <div class="container">
            <div class="row text-center">
                <div class="col-lg-4 mx-auto">
                    <h2 class="section-title text-center">
                        <span>Follow actions below </span>
                        Yard Management
                    </h2>
                </div>
            </div>
            <-- Title row end -->
        <div class="sponsors-wrap">
                <div class="row text-center">
                    <div class="col-lg-4 mx-auto">
                        <h2 class="section-title text-center">
                            <a href="/owner/owner-yardcreation" class="btn"> Create new Yard </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="text-decoration: line-through;">

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="section-title text-center">
                            <span> List of yard </span>
                            Yard
                        </h2>
                    </div><!-- col end-->
                </div>

            </div>
            <div class="speaker-shap">
                <img class="shap1" src="../images/shap/home_schedule_memphis2.png" alt="">
            </div>


            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="error-container"></div>
                    <div class="row">
                        <% yards.forEach(function (yard) { %>
                            <div class="col-md-6" style="padding-bottom: 30px;">
                                <div class="card">
                                    <div class="card-body">
                                        <p>
                                            <a href="/owner/owner-yarddetail/<%= yard.yard_id %>"> <%= yard.yard_name %> </a>
                                        </p>
                                        <p> Sport name: <%= yard.sport_name %> </p>
                                        <p> Yard Phone: <%= yard.phone %> </p>
                                        <p> Yard City: <%= yard.city %> </p>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>


    </section>

    <!-- footer start-->
    <% include ../partials/footer %>
    <!-- Body inner end -->
</div>
<% include ../partials/footer-script %>
</body>

</html>