<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ../partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ../partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <section class="ts-contact-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="section-title text-center">
                        <span> Center Detail </span>
                        <%= data.name %>
                    </h2>
                </div><!-- col end-->
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contact-form" class="contact-form" action="#" method="post">
                        <div class="error-container"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control form-control-name" placeholder="Center Name"
                                           type="text" readonly
                                           value="<%= data.name ? data.name : '' %>"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control form-control-name" placeholder="Website"
                                           type="text" readonly
                                           value="<%= data.website ? data.website : '' %>"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control form-control-subject" placeholder="Phone Number"
                                           name="phone" id="phone"
                                           type="number" readonly
                                           value="<%= data.phone ? data.phone : '' %>"
                                    />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control form-control-subject" placeholder="Address"
                                           name="address" id="#"
                                           readonly
                                           value="<%= data.address ? data.address : '' %>"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control form-control-subject" placeholder="City" name="City"
                                           id="City" type="text"
                                           readonly
                                           value="<%= data.city ? data.city : '' %>"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control form-control-email" placeholder="Country" name="Country"
                                           id="Country"
                                           type="text" readonly
                                           value="<%= data.country ? data.country : '' %>"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control form-control-subject" placeholder="Time Open"
                                           name="opentime" id="opentime"
                                           type="datetime" readonly
                                           value="<%= data.openTime ? data.openTime : '' %>"
                                    />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control form-control-subject" placeholder="Time Close"
                                           name="closetime" id="closetime"
                                           type="datetime" readonly
                                           value="<%= data.closeTime ? data.closeTime : '' %>"
                                    />
                                </div>
                            </div>


                        </div>
                </div>

                </form><!-- Contract form end -->
            </div>
        </div>
</div>
<div class="speaker-shap">
    <img class="shap1" src="../../images/shap/home_schedule_memphis2.png" alt="">
</div>
</section>


<!-- footer start-->
<% include ../partials/footer %>
<!-- Body inner end -->
</div>
<% include ../partials/footer-script %>
</body>

</html>