<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ../partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ../partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <section class="ts-contact-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="section-title text-center">
                        <span> Create new center </span>
                        Center
                    </h2>
                </div><!-- col end-->
            </div>

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contact-form" class="contact-form" method="post">
                        <div class="error-container"></div>
                        <div class="row">
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Center Name</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="Center Name" type="text"
                                               name="centerName" required
                                               value="<%= data.name %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Website</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="Website" type="text"
                                               name="website" required
                                               value="<%= data.website %>"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Phone Number</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="Phone Number" type="number"
                                               name="phone" required
                                               value="<%= data.phone %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Address</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="Address" type="text"
                                               name="address" required
                                               value="<%= data.address %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">City</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="City" type="text"
                                               name="city" required
                                               value="<%= data.city %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Country</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="Country" type="text"
                                               name="country" required
                                               value="<%= data.country %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Start Time</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="Start Time" type="time" value="08:00:00"
                                               name="openTime"
                                               value="<%= data.openTime %>"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">End Time </label>
                                        <input class="form-control form-control-subject"
                                               placeholder="End Time" type="time" value="20:00:00"
                                               name="closeTime"
                                               value="<%= data.closeTime %>"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sponsors-wrap text-center">
                            <div class="row text-center">
                                <div class="col-lg-8 mx-auto">
                                <div id="confirm"></div>
                                <div id="alert"></div>
                                <div>
                                    <div class="col-xs-12">
                                        <a href="#" id="confirmShow" class="btn" role="button">Confirm</a>
                                        <a href="#" id="alertShow" class="btn" role="button">Cancel</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <div class="speaker-shap">
            <img class="shap1" src="../images/shap/home_schedule_memphis2.png" alt="">
        </div>
    </section>


    <!-- footer start-->
    <% include ../partials/footer %>
    <!-- Body inner end -->
</div>
<% include ../partials/footer-script %>
</body>

</html>